<div class="login-container">
  <paper-card heading="Login">
    <div class="card-content">
      <div>
        <paper-input always-float-label label="Enter email" [(ngModel)]="login.email" name="email" ngDefaultControl></paper-input>
        <paper-input always-float-label label="Enter password" [(ngModel)]="login.password" name="pwd" ngDefaultControl type="password"></paper-input>
        <paper-button raised class="indigo btn-block" (click)="doLogin()">Login</paper-button>
      </div>
    </div>
  </paper-card>
</div>
